.app{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app__body{
  display: flex;
  flex-direction: row;
  flex: auto;
}

.app__body > .MuiButton-root{
  min-width: 16px !important;
}

.app__mainContent{
  flex:auto;
}