.contactRow{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 40px;
}

.contactRow__content{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.contactRow__content .MuiSvgIcon-root{
    font-size: 40px;
    margin-right: 20px;
}

.contactRow__content a{
    color: black;
}

.contactRow__content a:hover{
    color: grey
}