.skills__technicalSkills{
    width:80%;
    margin-top: 20px;
    margin-left: 20px;
}

.skills__softSkills{
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
}

.skills__softSkills > img{
    width: 30%;
    height: 30%;
    margin-bottom: 30px;
    border-radius: 10px;
}

.skills__softSkills > p{
    width: 40%;
    margin-left: 20px;
    margin-top: 20px;
    line-height: 30px;
    text-align: justify;
}

@media (max-width: 800px) {
   .skills__softSkills{
       flex-direction: column;
   }
   .skills__softSkills p{
       margin-left: 10px;
       margin-top: 10px;
   }
   .skills__softSkills > img{
       width: 90%;
       height: 90%;
   }
   .skills__softSkills > p{
        width: 90%;
        margin-bottom: 10px;
    }
   .skills__softSkills{
       width: 90%;
   }
  }